<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Badan Narkotika Nasional Kabupaten Gorontalo</title>
</head>
<body>
<div class="navbar topnav">
   <div class="container">
        <span class="navbar-text">
            Jl. Rusli Datau No.26A
        </span>
        <span class="navbar-text ml-auto">
            Call Center : (+62) 852 4020 1054
        </span>
   </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="d-flex flex-row">
            <a class="navbar-brand" href="#">
                <img src="img/bnn.png" width="100" height="100" class="d-inline-block align-center" alt="">
            </a>
            <div class="d-flex flex-column">
                <a href="#" class="navbar-text brand1">BADAN NARKOTIKA NASIONAL</a>
                <a href="#" class="navbar-text brand2">Kabupaten Gorontalo</a>
            </div>
        </div>
        <div class="collapse navbar-collapse d-flex flex-column flex-wrap" id="navbarNav">
            <form class="form-inline ml-auto navigation">
                <div class="input-group">
                    <input type="text" class="form-control cari" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default cari" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto navigation">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Beranda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edukasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galeri.html">Galeri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informasi Publik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Peraturan</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- CONTENT -->
<div class="container">
    <div class="row article">
        <div class="col-md-8">
                        <div class="feed clearfix">
                            <div class="feed-thumbnail">
                                <img src="img/thumbnail.png" alt="" class="thumbnail-img">
                            </div>
                            <div class="feed-content">
                                <span class="feed-date">8 Januari 2019</span>
                                <a href="#" class="feed-link"><h5 class="feed-title">Contoh Judul</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam, vero ducimus iusto esse quia</p>
                            </div>
                        </div>
                        <p class="border-role"></p>
                        <div class="feed clearfix">
                            <div class="feed-thumbnail">
                                <img src="img/thumbnail.png" alt="" class="thumbnail-img">
                            </div>
                            <div class="feed-content">
                                <span class="feed-date">8 Januari 2019</span>
                                <a href="#" class="feed-link"><h5 class="feed-title">Contoh Judul</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam, vero ducimus iusto esse quia</p>
                            </div>
                        </div>
                        <p class="border-role"></p>
        </div>
        <div class="col-md-4">
            <h3 class="label-section">TERPOPULER</h3>
            <p class="border-role"></p>
            <div class="feed clearfix">
                <div class="feed-thumbnail">
                    <img src="img/thumbnail.png" alt="" class="thumbnail-img">
                </div>
                <div class="feed-content">
                    <span class="feed-date">8 Januari 2019</span>
                    <a href="#" class="feed-link"><h5 class="feed-title">Contoh Judul</h5></a>
                </div>
            </div>
            <p class="border-role"></p>
            <div class="feed clearfix">
                <div class="feed-thumbnail">
                    <img src="img/thumbnail.png" alt="" class="thumbnail-img">
                </div>
                <div class="feed-content">
                    <span class="feed-date">8 Januari 2019</span>
                    <a href="#" class="feed-link"><h5 class="feed-title">Contoh Judul</h5></a>
                </div>
            </div>
            <p class="border-role"></p>
            <div class="feed clearfix">
                <div class="feed-thumbnail">
                    <img src="img/thumbnail.png" alt="" class="thumbnail-img">
                </div>
                <div class="feed-content">
                    <span class="feed-date">8 Januari 2019</span>
                    <a href="#" class="feed-link"><h5 class="feed-title">Contoh Judul</h5></a>
                </div>
            </div>
            <p class="border-role"></p>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<div class="kontak">
    <div class="kontak-title" id="kontakTrigger">
        <h5>Kotak Saran</h5>
    </div>
    <div class="kontak-isi" style="display:none">
        <form action="#">
            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" class="form-control form-control-sm" name="nama" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-sm" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Pesan</label>
                <textarea name="message" id="message" rows="3" class="form-control form-control-sm" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Kirim</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="label-footer">Profil BNN</h3>
                <ul class="link-footer">
                    <li><a href="#" class="link-footer">Sejarah</a></li>
                    <li><a href="#" class="link-footer">Visi dan Misi</a></li>
                    <li><a href="#" class="link-footer">Tujuan Pokok dan Fungsi</a></li>
                    <li><a href="#" class="link-footer">Struktur Organisasi</a></li>
                    <li><a href="#" class="link-footer">Pejabat</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="label-footer">Unit Kerja</h3>
                <ul class="link-footer">
                    <li><a href="#" class="link-footer">Sekretariat</a></li>
                    <li><a href="#" class="link-footer">Inspektorat</a></li>
                    <li><a href="#" class="link-footer">Pemberantasan</a></li>
                    <li><a href="#" class="link-footer">Pencegahan</a></li>
                    <li><a href="#" class="link-footer">Pemberdayaan Masyarakat</a></li>
                    <li><a href="#" class="link-footer">Rehabilitasi</a></li>
                    <li><a href="#" class="link-footer">Hukum dan Kerjasama</a></li>
                    <li><a href="#" class="link-footer">Pusat Penelitian</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="label-footer">Publikasi Pers</h3>
                <ul class="link-footer">
                    <li><a href="#" class="link-footer">Berita</a></li>
                    <li><a href="#" class="link-footer">Siaran Pers</a></li>
                    <li><a href="#" class="link-footer">Artikel</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="label-footer">Kontak Kami</h3>
                <p class="link-footer">
                    Febrizki Mawikere, (WA) 085240201054 , febrizkifym@gmail.com <br>
                    Jl.Rusli Datau, Kel.Dulomo Selatan, Kec.Kota Utara, Kota Gorontalo.
                </p>
            </div>
        </div>
        <div class="row">
            <p class="border-footer"></p>
            <p>Copyright All Rights Reserved 2019. Badan Narkotika Nasional Kabupaten Gorontalo</p>
        </div>
    </div>
    
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
var ktrigger = $("#kontakTrigger");
ktrigger.click(function(){
    var kisi = $(".kontak-isi");
    if(kisi.is(':visible')){
        kisi.hide(300);
    }else{
        kisi.show(300);
    }
});
</script>
</body>
</html>